<html>
   <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>{% block title %}ewuuu{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="./include/style.css" />
    <script src="./include/jquery.js"></script>
    <script src="./include/handlebars.js"></script>
    <script src="./include/data.js"></script>
    <script src="./include/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.13/webcomponents-lite.min.js"></script> 
    <link rel="import" href="https://components.cloudstitch.com/components/cloudstitch-handlebars/cloudstitch-handlebars.vulcanized.html"/>
  </head>
<body>

<img src="./images/cudbg.png" id="cudbg"/>
  
<div class="navbar">
  <div class="nav">
    {% block nav %}
    <a href="./index.html" >Eugene Wu</a>
    <a href="./lab.html">Wu Lab</a>
    <a href="./applying.html">Applying</a>
    <a href="./gallery.html">Gallery</a>        
    {% endblock %}
  </div>
</div>

{% block begin%}{% endblock %}

<div class="main">

  {% block main %}{% endblock %}

</div>

<div class="footer"><div id="signature"></div>eugene wu</div>

<!------------ STATS -------------->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3762902-2', 'auto');
  ga('send', 'pageview');

</script>
<!----------- END STATS ------------>

</body>
