body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}
.navbar-nav {
	font-size: 14px;
}
footer {
	font-size: 14px;
  padding-top: 30px;
}
table.overview {
	overflow-x: auto;
}
/***** Navbar ******/
.navbar-inverse {
  background-color: #fff;
  border-color: #808080;
}
.navbar-inverse .navbar-toggle {
	background-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #000;
}
.navbar-inverse .navbar-brand:hover {
  color: #000;
  text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
  font-weight: 300;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #000;
  text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a:focus{
  color: #000;
}
.navbar-inverse .navbar-nav > .open >a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #000;
  background-color: #f5f5f5;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #000;
  background-color: #f5f5f5;
}
