html {
  overflow-y:scroll;
}

body,tr {
          text-align: left;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: 300;
          background-color: #fdfdfd;
      }

body {
  padding-top: 45px;
  position: relative;
}
body tr.current {
  /*border-top: 2px solid rgb(53, 150, 189);
  border-bottom: 2px solid rgb(53, 150, 189);
  border: 2px solid rgb(53, 150, 189);*/
}

body tr td.nextclass {
  padding: 0;
  border: 2px solid rgb(53, 150, 189);
}
body tr td.nextclass div {
  font-size: 18px;
  text-align: center;
  background: rgb(53, 150, 189);
  color: white;
  padding: 3px;
}
.container {
  width: 800px;
}

a[name] {
  padding-top: 55px;
  margin-top: -55px;
  display: inline-block; /* required for webkit browsers */
}

td {
  vertical-align: top;
}
.notes {
  font-size: smaller;
  color: grey;
}
.due {
  width: 100%;
  text-align: center;
  font-size: smaller;
  margin-bottom: .3ex;
}
.hw {
  width: 100%;
  text-align: center;
  font-size: smaller;
  margin-bottom: .3ex;
}

.announce {
  color: rgb(201, 27, 77);
  background: white;
  display: block;
  font-size: 14pt;
}
.announce a {
  color: rgb(251, 77, 127);
  font-weight: bold;
  background: white;
}

