<html>
   <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title_2019s}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "../files/css/bootstrap.min.css" | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{
																								 "../files/css/style_w4995.css" | relative_url }}" />
		<script
			src="https://code.jquery.com/jquery-1.12.4.min.js"
			integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			crossorigin="anonymous"></script>
    <script src="{{ "../files/js/bootstrap.min.js" | relative_url }}"></script>
  </head>
<body>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="10">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">{{ site.title_2019s }}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="syllabus.html">Syllabus</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
							 role="button" aria-haspopup="true" aria-expanded="false">
							Assignments <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="a1.html">A1: Sparks Presentation</a></li>
              <li><a href="a2.html">A2: Visualization Design</a></li>
              <li><a href="a3.html">A3: Exploratory Data Analysis</a></li>
              <li><a href="a4.html">A4: Interactive Visualization</a></li>
              <li><a href="a5.html">A5: Final Project</a></li>
              <li><a href="ax.html">EC: Extra Credit Opportunities</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
							 role="button" aria-haspopup="true" aria-expanded="false">
							Demos <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://beta.observablehq.com/@agness/introdv-f18-demo-1-data-select-scale">
									2/19: Data, Select, Scale</a></li>
              <li><a href="https://beta.observablehq.com/@agness/introdv-f18-demo-2-interactivity">
									2/26: Update, Events, Brush, Drag</a></li>
              <!-- <li><a href="https://beta.observablehq.com/@agness/tk">
									3/26: Multiples, Transition, Transform, Zoom</a></li> -->
              <li><a href="../files/examples/demo_geo.html">
									4/2: Path, Polygon, Geography</a></li>
              <li><a href="https://beta.observablehq.com/@agness/tk">
									4/16: Hierarchy, Chord, Forces</a></li>
            </ul>
          </li>
          <li><a href="resources.html">Resources</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

    <div class="container">

			{{ content }}

		</div>

		<footer class="page-footer font-small">
			<div class="footer-copyright text-center py-3">
				W4995.006 Columbia University Computer Science<br>
				🙌 <a href="http://agneschang.net/">Agnes Chang</a>, with thanks to
				<a href="http://people.ischool.berkeley.edu/~hearst/">Marti</a> +
				UW <a href="https://courses.cs.washington.edu/courses/cse512/18sp/">CSE512</a>.
			</div>
		</footer>

</body>
